<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         mapTestClassNameToCoveredClassName="true"
         bootstrap="bootstrap.php"
         strict="true"
         verbose="true"
         colors="true">

    <testsuites>
        <testsuite name="PHPUnit_Extension_FunctionMockerTest">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
